# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
./htk.stimu.mix.150810.new.save-nomean-var-update/HTKLib.64bit/test
./htk.stimu.mix.150810.new.save-nomean-var-update/HTKLib.64bit/a.out
./htk.stimu.mix.150810.new.save-nomean-var-update/HTKTools/HBuild
./htk.stimu.mix.150810.new.save-nomean-var-update/HTKTools/HDMan
./htk.stimu.mix.150810.new.save-nomean-var-update/HTKTools/HVite
./htk.stimu.mix.150810.new.save-nomean-var-update/HTKTools/HLRescore
./htk.stimu.mix.150810.new.save-nomean-var-update/HTKTools/HERest.new
./htk.stimu.mix.150810.new.save-nomean-var-update/HTKTools/HSGen
./htk.stimu.mix.150810.new.save-nomean-var-update/HTKTools/HParse
./htk.stimu.mix.150810.new.save-nomean-var-update/HTKTools/HLStats
./htk.stimu.mix.150810.new.save-nomean-var-update/HTKTools/HInit
./htk.stimu.mix.150810.new.save-nomean-var-update/HTKTools/HMMIRest
./htk.stimu.mix.150810.new.save-nomean-var-update/HTKTools/HResults
./htk.stimu.mix.150810.new.save-nomean-var-update/HTKTools/HHEd
./htk.stimu.mix.150810.new.save-nomean-var-update/HTKTools/HList
./htk.stimu.mix.150810.new.save-nomean-var-update/HTKTools/HCompV
./htk.stimu.mix.150810.new.save-nomean-var-update/HTKTools/HCopy
./htk.stimu.mix.150810.new.save-nomean-var-update/HTKTools/HLEd
./htk.stimu.mix.150810.new.save-nomean-var-update/HTKTools/HERest
./htk.stimu.mix.150810.new.save-nomean-var-update/HTKTools/HRest
./htk.stimu.mix.150810.new.save-nomean-var-update/HTKTools/HSmooth
./htk.stimu.mix.150810.new.save-nomean-var-update/HTKTools/HQuant
./htk.stimu.mix.150810.new.save-nomean-var-update/HTKTools/HERest.old
./htk.stimu.mix.150810.new.save-nomean-var-update/HLMTools/Cluster
./htk.stimu.mix.150810.new.save-nomean-var-update/HLMTools/LLink
./htk.stimu.mix.150810.new.save-nomean-var-update/HLMTools/LNorm
./htk.stimu.mix.150810.new.save-nomean-var-update/HLMTools/LGPrep
./htk.stimu.mix.150810.new.save-nomean-var-update/HLMTools/LSubset
./htk.stimu.mix.150810.new.save-nomean-var-update/HLMTools/LNewMap
./htk.stimu.mix.150810.new.save-nomean-var-update/HLMTools/LGList
./htk.stimu.mix.150810.new.save-nomean-var-update/HLMTools/LGCopy
./htk.stimu.mix.150810.new.save-nomean-var-update/HLMTools/LAdapt
./htk.stimu.mix.150810.new.save-nomean-var-update/HLMTools/LFoF
./htk.stimu.mix.150810.new.save-nomean-var-update/HLMTools/HLMCopy
./htk.stimu.mix.150810.new.save-nomean-var-update/HLMTools/LBuild
./htk.stimu.mix.150810.new.save-nomean-var-update/HLMTools/LPlex
./htk.stimu.mix.150810.new.save-nomean-var-update/HLMTools/LMerge
./htk.stimu.mix.150810.new.save-nomean-var-update/HTKTools.64bit/HNTrainSGD
./htk.stimu.mix.150810.new.save-nomean-var-update/HTKTools.64bit/HSmooth
./htk.stimu.mix.150810.new.save-nomean-var-update/HTKTools.64bit/HLStats
./htk.stimu.mix.150810.new.save-nomean-var-update/HTKTools.64bit/HLEd
./htk.stimu.mix.150810.new.save-nomean-var-update/HTKTools.64bit/HBuild
./htk.stimu.mix.150810.new.save-nomean-var-update/HTKTools.64bit/HVite
./htk.stimu.mix.150810.new.save-nomean-var-update/HTKTools.64bit/HInit
./htk.stimu.mix.150810.new.save-nomean-var-update/HTKTools.64bit/HSGen
./htk.stimu.mix.150810.new.save-nomean-var-update/HTKTools.64bit/HVite.mix-CPU
./htk.stimu.mix.150810.new.save-nomean-var-update/HTKTools.64bit/HList
./htk.stimu.mix.150810.new.save-nomean-var-update/HTKTools.64bit/HResults
./htk.stimu.mix.150810.new.save-nomean-var-update/HTKTools.64bit/HNForward
./htk.stimu.mix.150810.new.save-nomean-var-update/HTKTools.64bit/HNTrainSGD.bin.localsoftlhuc
./htk.stimu.mix.150810.new.save-nomean-var-update/HTKTools.64bit/HERest
./htk.stimu.mix.150810.new.save-nomean-var-update/HTKTools.64bit/HQuant
./htk.stimu.mix.150810.new.save-nomean-var-update/HTKTools.64bit/HLConf
./htk.stimu.mix.150810.new.save-nomean-var-update/HTKTools.64bit/HDMan
./htk.stimu.mix.150810.new.save-nomean-var-update/HTKTools.64bit/HCompV
./htk.stimu.mix.150810.new.save-nomean-var-update/HTKTools.64bit/HParse
./htk.stimu.mix.150810.new.save-nomean-var-update/HTKTools.64bit/HHEd
./htk.stimu.mix.150810.new.save-nomean-var-update/HTKTools.64bit/HLRescore
./htk.stimu.mix.150810.new.save-nomean-var-update/HTKTools.64bit/HCopy
./htk.stimu.mix.150810.new.save-nomean-var-update/HTKTools.64bit/HNTrainSGD.bak
./htk.stimu.mix.150810.new.save-nomean-var-update/HTKTools.64bit/HNTrainSGD.bin.onlystimupenlhuc
./htk.stimu.mix.150810.new.save-nomean-var-update/HTKTools.64bit/HMMIRest
./htk.stimu.mix.150810.new.save-nomean-var-update/HTKTools.64bit/HNTrainSGD.onlydnn
./htk.stimu.mix.150810.new.save-nomean-var-update/HTKTools.64bit/HRest
./htk.stimu.mix.150810.new.save-nomean-var-update/HTKTools.64bit/HNTrainSGD.cuda
./htk.stimu.mix.150810.new.save-nomean-var-update/HTKLVRec.64bit/HDecode.mod
./htk.stimu.mix.150810.new.save-nomean-var-update/HTKLVRec.64bit/HDecode
./htk.stimu.mix.150810.new.save-nomean-var-update/HTKLVRec/HDecode.new
./htk.stimu.mix.150810.new.save-nomean-var-update/HTKLVRec/HDecode
./htk.stimu.mix.150810.new.save-nomean-var-update/HTKLVRec/HDecode.mod
./htk.stimu.mix.150810.new.save-nomean-var-update/HTKLVRec.int/HDecode
./htk.stimu.mix.150810.new.save-nomean-var-update/HTKLVRec.int/HDecode.mod
./htk.stimu.mix.150810.new.sat/HTKLib.64bit/test
./htk.stimu.mix.150810.new.sat/HTKLib.64bit/a.out
./htk.stimu.mix.150810.new.sat/HTKTools/HBuild
./htk.stimu.mix.150810.new.sat/HTKTools/HDMan
./htk.stimu.mix.150810.new.sat/HTKTools/HVite
./htk.stimu.mix.150810.new.sat/HTKTools/HLRescore
./htk.stimu.mix.150810.new.sat/HTKTools/HERest.new
./htk.stimu.mix.150810.new.sat/HTKTools/HSGen
./htk.stimu.mix.150810.new.sat/HTKTools/HParse
./htk.stimu.mix.150810.new.sat/HTKTools/HLStats
./htk.stimu.mix.150810.new.sat/HTKTools/HInit
./htk.stimu.mix.150810.new.sat/HTKTools/HMMIRest
./htk.stimu.mix.150810.new.sat/HTKTools/HResults
./htk.stimu.mix.150810.new.sat/HTKTools/HHEd
./htk.stimu.mix.150810.new.sat/HTKTools/HList
./htk.stimu.mix.150810.new.sat/HTKTools/HCompV
./htk.stimu.mix.150810.new.sat/HTKTools/HCopy
./htk.stimu.mix.150810.new.sat/HTKTools/HLEd
./htk.stimu.mix.150810.new.sat/HTKTools/HERest
./htk.stimu.mix.150810.new.sat/HTKTools/HRest
./htk.stimu.mix.150810.new.sat/HTKTools/HSmooth
./htk.stimu.mix.150810.new.sat/HTKTools/HQuant
./htk.stimu.mix.150810.new.sat/HTKTools/HERest.old
./htk.stimu.mix.150810.new.sat/HLMTools/LGPrep
./htk.stimu.mix.150810.new.sat/HLMTools/LFoF
./htk.stimu.mix.150810.new.sat/HLMTools/LMerge
./htk.stimu.mix.150810.new.sat/HLMTools/LPlex
./htk.stimu.mix.150810.new.sat/HLMTools/LLink
./htk.stimu.mix.150810.new.sat/HLMTools/LGCopy
./htk.stimu.mix.150810.new.sat/HLMTools/LSubset
./htk.stimu.mix.150810.new.sat/HLMTools/LBuild
./htk.stimu.mix.150810.new.sat/HLMTools/LNewMap
./htk.stimu.mix.150810.new.sat/HLMTools/LAdapt
./htk.stimu.mix.150810.new.sat/HLMTools/LGList
./htk.stimu.mix.150810.new.sat/HLMTools/Cluster
./htk.stimu.mix.150810.new.sat/HLMTools/HLMCopy
./htk.stimu.mix.150810.new.sat/HLMTools/LNorm
./htk.stimu.mix.150810.new.sat/HTKTools.64bit/HNTrainSGD.updtmixparam
./htk.stimu.mix.150810.new.sat/HTKTools.64bit/HBuild
./htk.stimu.mix.150810.new.sat/HTKTools.64bit/HNTrainSGD
./htk.stimu.mix.150810.new.sat/HTKTools.64bit/HQuant
./htk.stimu.mix.150810.new.sat/HTKTools.64bit/HParse
./htk.stimu.mix.150810.new.sat/HTKTools.64bit/HResults
./htk.stimu.mix.150810.new.sat/HTKTools.64bit/HList
./htk.stimu.mix.150810.new.sat/HTKTools.64bit/HVite.mix-CPU
./htk.stimu.mix.150810.new.sat/HTKTools.64bit/HNForward
./htk.stimu.mix.150810.new.sat/HTKTools.64bit/HHEd
./htk.stimu.mix.150810.new.sat/HTKTools.64bit/HLEd
./htk.stimu.mix.150810.new.sat/HTKTools.64bit/HNTrainSGD.bin.localsoftlhuc
./htk.stimu.mix.150810.new.sat/HTKTools.64bit/HERest
./htk.stimu.mix.150810.new.sat/HTKTools.64bit/HLRescore
./htk.stimu.mix.150810.new.sat/HTKTools.64bit/HLStats
./htk.stimu.mix.150810.new.sat/HTKTools.64bit/HRest
./htk.stimu.mix.150810.new.sat/HTKTools.64bit/HMMIRest
./htk.stimu.mix.150810.new.sat/HTKTools.64bit/HSmooth
./htk.stimu.mix.150810.new.sat/HTKTools.64bit/HVite.full.new
./htk.stimu.mix.150810.new.sat/HTKTools.64bit/HDMan
./htk.stimu.mix.150810.new.sat/HTKTools.64bit/HCompV
./htk.stimu.mix.150810.new.sat/HTKTools.64bit/HVite
./htk.stimu.mix.150810.new.sat/HTKTools.64bit/HNTrainSGD.bak
./htk.stimu.mix.150810.new.sat/HTKTools.64bit/HNTrainSGD.bin.onlystimupenlhuc
./htk.stimu.mix.150810.new.sat/HTKTools.64bit/HNTrainSGD.onlydnn
./htk.stimu.mix.150810.new.sat/HTKTools.64bit/HInit
./htk.stimu.mix.150810.new.sat/HTKTools.64bit/HLConf
./htk.stimu.mix.150810.new.sat/HTKTools.64bit/HNTrainSGD.cuda
./htk.stimu.mix.150810.new.sat/HTKTools.64bit/HNTrainSGD.updtmixparam-withreg
./htk.stimu.mix.150810.new.sat/HTKTools.64bit/HCopy
./htk.stimu.mix.150810.new.sat/HTKTools.64bit/HSGen
./htk.stimu.mix.150810.new.sat/HTKTools.64bit/HNTrainSGD.full
./htk.stimu.mix.150810.new.sat/HTKTools.64bit/HNTrainSGD.full.new
./htk.stimu.mix.150810.new.sat/HTKTools.64bit/HVite.full
./htk.stimu.mix.150810.new.sat/HTKTools.64bit/HNTrainSGD.full.new.limitmeanrange
./htk.stimu.mix.150810.new.sat/HTKLVRec.64bit/HDecode.mod
./htk.stimu.mix.150810.new.sat/HTKLVRec.64bit/HDecode
./htk.stimu.mix.150810.new.sat/HTKLVRec.64bit/HDecode.mix
./htk.stimu.mix.150810.new.sat/HTKLVRec.64bit/HDecode.mix.full
./htk.stimu.mix.150810.new.sat/HTKLVRec.64bit/HDecode.mix.full.new
./htk.stimu.mix.150810.new.sat/HTKLVRec/HDecode.new
./htk.stimu.mix.150810.new.sat/HTKLVRec/HDecode
./htk.stimu.mix.150810.new.sat/HTKLVRec/HDecode.mod
./htk.stimu.mix.150810.new.sat/HTKLVRec.int/HDecode
./htk.stimu.mix.150810.new.sat/HTKLVRec.int/HDecode.mod
./htk.stimu.mix.150810.new.bak/HTKLib.64bit/test
./htk.stimu.mix.150810.new.bak/HTKLib.64bit/a.out
./htk.stimu.mix.150810.new.bak/HTKTools/HBuild
./htk.stimu.mix.150810.new.bak/HTKTools/HDMan
./htk.stimu.mix.150810.new.bak/HTKTools/HVite
./htk.stimu.mix.150810.new.bak/HTKTools/HLRescore
./htk.stimu.mix.150810.new.bak/HTKTools/HERest.new
./htk.stimu.mix.150810.new.bak/HTKTools/HSGen
./htk.stimu.mix.150810.new.bak/HTKTools/HParse
./htk.stimu.mix.150810.new.bak/HTKTools/HLStats
./htk.stimu.mix.150810.new.bak/HTKTools/HInit
./htk.stimu.mix.150810.new.bak/HTKTools/HMMIRest
./htk.stimu.mix.150810.new.bak/HTKTools/HResults
./htk.stimu.mix.150810.new.bak/HTKTools/HHEd
./htk.stimu.mix.150810.new.bak/HTKTools/HList
./htk.stimu.mix.150810.new.bak/HTKTools/HCompV
./htk.stimu.mix.150810.new.bak/HTKTools/HCopy
./htk.stimu.mix.150810.new.bak/HTKTools/HLEd
./htk.stimu.mix.150810.new.bak/HTKTools/HERest
./htk.stimu.mix.150810.new.bak/HTKTools/HRest
./htk.stimu.mix.150810.new.bak/HTKTools/HSmooth
./htk.stimu.mix.150810.new.bak/HTKTools/HQuant
./htk.stimu.mix.150810.new.bak/HTKTools/HERest.old
./htk.stimu.mix.150810.new.bak/HLMTools/LLink
./htk.stimu.mix.150810.new.bak/HLMTools/LGPrep
./htk.stimu.mix.150810.new.bak/HLMTools/LGList
./htk.stimu.mix.150810.new.bak/HLMTools/LAdapt
./htk.stimu.mix.150810.new.bak/HLMTools/HLMCopy
./htk.stimu.mix.150810.new.bak/HLMTools/LNorm
./htk.stimu.mix.150810.new.bak/HLMTools/LGCopy
./htk.stimu.mix.150810.new.bak/HLMTools/LBuild
./htk.stimu.mix.150810.new.bak/HLMTools/Cluster
./htk.stimu.mix.150810.new.bak/HLMTools/LMerge
./htk.stimu.mix.150810.new.bak/HLMTools/LPlex
./htk.stimu.mix.150810.new.bak/HLMTools/LNewMap
./htk.stimu.mix.150810.new.bak/HLMTools/LFoF
./htk.stimu.mix.150810.new.bak/HLMTools/LSubset
./htk.stimu.mix.150810.new.bak/HTKTools.64bit/HSmooth
./htk.stimu.mix.150810.new.bak/HTKTools.64bit/HRest
./htk.stimu.mix.150810.new.bak/HTKTools.64bit/HSGen
./htk.stimu.mix.150810.new.bak/HTKTools.64bit/HERest
./htk.stimu.mix.150810.new.bak/HTKTools.64bit/HDMan
./htk.stimu.mix.150810.new.bak/HTKTools.64bit/HNTrainSGD
./htk.stimu.mix.150810.new.bak/HTKTools.64bit/HCompV
./htk.stimu.mix.150810.new.bak/HTKTools.64bit/HLEd
./htk.stimu.mix.150810.new.bak/HTKTools.64bit/HResults
./htk.stimu.mix.150810.new.bak/HTKTools.64bit/HLConf
./htk.stimu.mix.150810.new.bak/HTKTools.64bit/HLStats
./htk.stimu.mix.150810.new.bak/HTKTools.64bit/HParse
./htk.stimu.mix.150810.new.bak/HTKTools.64bit/HNTrainSGD.bin.localsoftlhuc
./htk.stimu.mix.150810.new.bak/HTKTools.64bit/HNForward
./htk.stimu.mix.150810.new.bak/HTKTools.64bit/HMMIRest
./htk.stimu.mix.150810.new.bak/HTKTools.64bit/HInit
./htk.stimu.mix.150810.new.bak/HTKTools.64bit/HBuild
./htk.stimu.mix.150810.new.bak/HTKTools.64bit/HQuant
./htk.stimu.mix.150810.new.bak/HTKTools.64bit/HList
./htk.stimu.mix.150810.new.bak/HTKTools.64bit/HLRescore
./htk.stimu.mix.150810.new.bak/HTKTools.64bit/HCopy
./htk.stimu.mix.150810.new.bak/HTKTools.64bit/HVite
./htk.stimu.mix.150810.new.bak/HTKTools.64bit/HNTrainSGD.bak
./htk.stimu.mix.150810.new.bak/HTKTools.64bit/HNTrainSGD.bin.onlystimupenlhuc
./htk.stimu.mix.150810.new.bak/HTKTools.64bit/HHEd
./htk.stimu.mix.150810.new.bak/HTKTools.64bit/HNTrainSGD.onlydnn
./htk.stimu.mix.150810.new.bak/HTKLVRec.64bit/HDecode.mod
./htk.stimu.mix.150810.new.bak/HTKLVRec.64bit/HDecode
./htk.stimu.mix.150810.new.bak/HTKLVRec/HDecode.new
./htk.stimu.mix.150810.new.bak/HTKLVRec/HDecode
./htk.stimu.mix.150810.new.bak/HTKLVRec/HDecode.mod
./htk.stimu.mix.150810.new.bak/HTKLVRec.int/HDecode
./htk.stimu.mix.150810.new.bak/HTKLVRec.int/HDecode.mod
./htk.stimu.mix.150810.new/HTKLib.64bit/test
./htk.stimu.mix.150810.new/HTKLib.64bit/a.out
./htk.stimu.mix.150810.new/HTKTools/HBuild
./htk.stimu.mix.150810.new/HTKTools/HDMan
./htk.stimu.mix.150810.new/HTKTools/HVite
./htk.stimu.mix.150810.new/HTKTools/HLRescore
./htk.stimu.mix.150810.new/HTKTools/HERest.new
./htk.stimu.mix.150810.new/HTKTools/HSGen
./htk.stimu.mix.150810.new/HTKTools/HParse
./htk.stimu.mix.150810.new/HTKTools/HLStats
./htk.stimu.mix.150810.new/HTKTools/HInit
./htk.stimu.mix.150810.new/HTKTools/HMMIRest
./htk.stimu.mix.150810.new/HTKTools/HResults
./htk.stimu.mix.150810.new/HTKTools/HHEd
./htk.stimu.mix.150810.new/HTKTools/HList
./htk.stimu.mix.150810.new/HTKTools/HCompV
./htk.stimu.mix.150810.new/HTKTools/HCopy
./htk.stimu.mix.150810.new/HTKTools/HLEd
./htk.stimu.mix.150810.new/HTKTools/HERest
./htk.stimu.mix.150810.new/HTKTools/HRest
./htk.stimu.mix.150810.new/HTKTools/HSmooth
./htk.stimu.mix.150810.new/HTKTools/HQuant
./htk.stimu.mix.150810.new/HTKTools/HERest.old
./htk.stimu.mix.150810.new/HLMTools/LGPrep
./htk.stimu.mix.150810.new/HLMTools/LSubset
./htk.stimu.mix.150810.new/HLMTools/LNewMap
./htk.stimu.mix.150810.new/HLMTools/LGCopy
./htk.stimu.mix.150810.new/HLMTools/LMerge
./htk.stimu.mix.150810.new/HLMTools/Cluster
./htk.stimu.mix.150810.new/HLMTools/LBuild
./htk.stimu.mix.150810.new/HLMTools/LGList
./htk.stimu.mix.150810.new/HLMTools/LPlex
./htk.stimu.mix.150810.new/HLMTools/LAdapt
./htk.stimu.mix.150810.new/HLMTools/LFoF
./htk.stimu.mix.150810.new/HLMTools/LLink
./htk.stimu.mix.150810.new/HLMTools/HLMCopy
./htk.stimu.mix.150810.new/HLMTools/LNorm
./htk.stimu.mix.150810.new/HTKTools.64bit/HLRescore
./htk.stimu.mix.150810.new/HTKTools.64bit/HNTrainSGD.updtmixparam
./htk.stimu.mix.150810.new/HTKTools.64bit/HRest
./htk.stimu.mix.150810.new/HTKTools.64bit/HCompV
./htk.stimu.mix.150810.new/HTKTools.64bit/HMMIRest
./htk.stimu.mix.150810.new/HTKTools.64bit/HLConf
./htk.stimu.mix.150810.new/HTKTools.64bit/HLStats
./htk.stimu.mix.150810.new/HTKTools.64bit/HNTrainSGD
./htk.stimu.mix.150810.new/HTKTools.64bit/HVite.mix-CPU
./htk.stimu.mix.150810.new/HTKTools.64bit/HQuant
./htk.stimu.mix.150810.new/HTKTools.64bit/HSGen
./htk.stimu.mix.150810.new/HTKTools.64bit/HHEd
./htk.stimu.mix.150810.new/HTKTools.64bit/HList
./htk.stimu.mix.150810.new/HTKTools.64bit/HNTrainSGD.bin.localsoftlhuc
./htk.stimu.mix.150810.new/HTKTools.64bit/HResults
./htk.stimu.mix.150810.new/HTKTools.64bit/HSmooth
./htk.stimu.mix.150810.new/HTKTools.64bit/HERest
./htk.stimu.mix.150810.new/HTKTools.64bit/HCopy
./htk.stimu.mix.150810.new/HTKTools.64bit/HDMan
./htk.stimu.mix.150810.new/HTKTools.64bit/HParse
./htk.stimu.mix.150810.new/HTKTools.64bit/HVite
./htk.stimu.mix.150810.new/HTKTools.64bit/HNForward
./htk.stimu.mix.150810.new/HTKTools.64bit/HNTrainSGD.bak
./htk.stimu.mix.150810.new/HTKTools.64bit/HNTrainSGD.bin.onlystimupenlhuc
./htk.stimu.mix.150810.new/HTKTools.64bit/HLEd
./htk.stimu.mix.150810.new/HTKTools.64bit/HNTrainSGD.onlydnn
./htk.stimu.mix.150810.new/HTKTools.64bit/HInit
./htk.stimu.mix.150810.new/HTKTools.64bit/HNTrainSGD.cuda
./htk.stimu.mix.150810.new/HTKTools.64bit/HNTrainSGD.updtmixparam-withreg
./htk.stimu.mix.150810.new/HTKTools.64bit/HBuild
./htk.stimu.mix.150810.new/HTKTools.64bit/HNTrainSGD.full
./htk.stimu.mix.150810.new/HTKTools.64bit/HNTrainSGD.full.new
./htk.stimu.mix.150810.new/HTKTools.64bit/HVite.full
./htk.stimu.mix.150810.new/HTKTools.64bit/HNTrainSGD.full.new.limitmeanrange
./htk.stimu.mix.150810.new/HTKTools.64bit/HVite.full.new
./htk.stimu.mix.150810.new/HTKTools.64bit/HNTrainSGD.full.new.babelmono
./htk.stimu.mix.150810.new/HTKTools.64bit/HNTrainSGD.full.new.bak
./htk.stimu.mix.150810.new/HTKLVRec.64bit/HDecode.mod
./htk.stimu.mix.150810.new/HTKLVRec.64bit/HDecode
./htk.stimu.mix.150810.new/HTKLVRec.64bit/HDecode.mix
./htk.stimu.mix.150810.new/HTKLVRec.64bit/HDecode.mix.full
./htk.stimu.mix.150810.new/HTKLVRec.64bit/HDecode.mix.full.new
./htk.stimu.mix.150810.new/HTKLVRec/HDecode.new
./htk.stimu.mix.150810.new/HTKLVRec/HDecode
./htk.stimu.mix.150810.new/HTKLVRec/HDecode.mod
./htk.stimu.mix.150810.new/HTKLVRec.int/HDecode
./htk.stimu.mix.150810.new/HTKLVRec.int/HDecode.mod
./htk.stimu.mix.150810/HTKLib.64bit/test
./htk.stimu.mix.150810/HTKLib.64bit/a.out
./htk.stimu.mix.150810/HTKTools/HBuild
./htk.stimu.mix.150810/HTKTools/HDMan
./htk.stimu.mix.150810/HTKTools/HVite
./htk.stimu.mix.150810/HTKTools/HLRescore
./htk.stimu.mix.150810/HTKTools/HERest.new
./htk.stimu.mix.150810/HTKTools/HSGen
./htk.stimu.mix.150810/HTKTools/HParse
./htk.stimu.mix.150810/HTKTools/HLStats
./htk.stimu.mix.150810/HTKTools/HInit
./htk.stimu.mix.150810/HTKTools/HMMIRest
./htk.stimu.mix.150810/HTKTools/HResults
./htk.stimu.mix.150810/HTKTools/HHEd
./htk.stimu.mix.150810/HTKTools/HList
./htk.stimu.mix.150810/HTKTools/HCompV
./htk.stimu.mix.150810/HTKTools/HCopy
./htk.stimu.mix.150810/HTKTools/HLEd
./htk.stimu.mix.150810/HTKTools/HERest
./htk.stimu.mix.150810/HTKTools/HRest
./htk.stimu.mix.150810/HTKTools/HSmooth
./htk.stimu.mix.150810/HTKTools/HQuant
./htk.stimu.mix.150810/HTKTools/HERest.old
./htk.stimu.mix.150810/HLMTools/LSubset
./htk.stimu.mix.150810/HLMTools/LBuild
./htk.stimu.mix.150810/HLMTools/LGCopy
./htk.stimu.mix.150810/HLMTools/LMerge
./htk.stimu.mix.150810/HLMTools/LGPrep
./htk.stimu.mix.150810/HLMTools/LLink
./htk.stimu.mix.150810/HLMTools/LAdapt
./htk.stimu.mix.150810/HLMTools/LFoF
./htk.stimu.mix.150810/HLMTools/HLMCopy
./htk.stimu.mix.150810/HLMTools/LPlex
./htk.stimu.mix.150810/HLMTools/LNorm
./htk.stimu.mix.150810/HLMTools/LGList
./htk.stimu.mix.150810/HLMTools/LNewMap
./htk.stimu.mix.150810/HLMTools/Cluster
./htk.stimu.mix.150810/HTKTools.64bit/HLConf
./htk.stimu.mix.150810/HTKTools.64bit/HRest
./htk.stimu.mix.150810/HTKTools.64bit/HDMan
./htk.stimu.mix.150810/HTKTools.64bit/HCopy
./htk.stimu.mix.150810/HTKTools.64bit/HCompV
./htk.stimu.mix.150810/HTKTools.64bit/HSGen
./htk.stimu.mix.150810/HTKTools.64bit/HResults
./htk.stimu.mix.150810/HTKTools.64bit/HBuild
./htk.stimu.mix.150810/HTKTools.64bit/HLRescore
./htk.stimu.mix.150810/HTKTools.64bit/HInit
./htk.stimu.mix.150810/HTKTools.64bit/HNForward
./htk.stimu.mix.150810/HTKTools.64bit/HLStats
./htk.stimu.mix.150810/HTKTools.64bit/HERest
./htk.stimu.mix.150810/HTKTools.64bit/HNTrainSGD.bin.localsoftlhuc
./htk.stimu.mix.150810/HTKTools.64bit/HParse
./htk.stimu.mix.150810/HTKTools.64bit/HVite
./htk.stimu.mix.150810/HTKTools.64bit/HQuant
./htk.stimu.mix.150810/HTKTools.64bit/HNTrainSGD
./htk.stimu.mix.150810/HTKTools.64bit/HMMIRest
./htk.stimu.mix.150810/HTKTools.64bit/HList
./htk.stimu.mix.150810/HTKTools.64bit/HSmooth
./htk.stimu.mix.150810/HTKTools.64bit/HHEd
./htk.stimu.mix.150810/HTKTools.64bit/HNTrainSGD.bak
./htk.stimu.mix.150810/HTKTools.64bit/HNTrainSGD.bin.onlystimupenlhuc
./htk.stimu.mix.150810/HTKTools.64bit/HLEd
./htk.stimu.mix.150810/HTKTools.64bit/HNTrainSGD.gegeda
./htk.stimu.mix.150810/HTKLVRec.64bit/HDecode.mod
./htk.stimu.mix.150810/HTKLVRec.64bit/HDecode
./htk.stimu.mix.150810/HTKLVRec/HDecode.new
./htk.stimu.mix.150810/HTKLVRec/HDecode
./htk.stimu.mix.150810/HTKLVRec/HDecode.mod
./htk.stimu.mix.150810/HTKLVRec.int/HDecode
./htk.stimu.mix.150810/HTKLVRec.int/HDecode.mod
./htk.stimu.150810/HTKLib.64bit/test
./htk.stimu.150810/HTKLib.64bit/a.out
./htk.stimu.150810/HTKTools/HBuild
./htk.stimu.150810/HTKTools/HDMan
./htk.stimu.150810/HTKTools/HVite
./htk.stimu.150810/HTKTools/HLRescore
./htk.stimu.150810/HTKTools/HERest.new
./htk.stimu.150810/HTKTools/HSGen
./htk.stimu.150810/HTKTools/HParse
./htk.stimu.150810/HTKTools/HLStats
./htk.stimu.150810/HTKTools/HInit
./htk.stimu.150810/HTKTools/HMMIRest
./htk.stimu.150810/HTKTools/HResults
./htk.stimu.150810/HTKTools/HHEd
./htk.stimu.150810/HTKTools/HList
./htk.stimu.150810/HTKTools/HCompV
./htk.stimu.150810/HTKTools/HCopy
./htk.stimu.150810/HTKTools/HLEd
./htk.stimu.150810/HTKTools/HERest
./htk.stimu.150810/HTKTools/HRest
./htk.stimu.150810/HTKTools/HSmooth
./htk.stimu.150810/HTKTools/HQuant
./htk.stimu.150810/HTKTools/HERest.old
./htk.stimu.150810/HLMTools/LPlex
./htk.stimu.150810/HLMTools/LBuild
./htk.stimu.150810/HLMTools/LSubset
./htk.stimu.150810/HLMTools/Cluster
./htk.stimu.150810/HLMTools/LNorm
./htk.stimu.150810/HLMTools/HLMCopy
./htk.stimu.150810/HLMTools/LGPrep
./htk.stimu.150810/HLMTools/LLink
./htk.stimu.150810/HLMTools/LGList
./htk.stimu.150810/HLMTools/LFoF
./htk.stimu.150810/HLMTools/LMerge
./htk.stimu.150810/HLMTools/LNewMap
./htk.stimu.150810/HLMTools/LAdapt
./htk.stimu.150810/HLMTools/LGCopy
./htk.stimu.150810/HTKTools.64bit/HInit
./htk.stimu.150810/HTKTools.64bit/HRest
./htk.stimu.150810/HTKTools.64bit/HNTrainSGD
./htk.stimu.150810/HTKTools.64bit/HCopy
./htk.stimu.150810/HTKTools.64bit/HLEd
./htk.stimu.150810/HTKTools.64bit/HResults
./htk.stimu.150810/HTKTools.64bit/HHEd
./htk.stimu.150810/HTKTools.64bit/HMMIRest
./htk.stimu.150810/HTKTools.64bit/HNForward
./htk.stimu.150810/HTKTools.64bit/HLRescore
./htk.stimu.150810/HTKTools.64bit/HSGen
./htk.stimu.150810/HTKTools.64bit/HLStats
./htk.stimu.150810/HTKTools.64bit/HBuild
./htk.stimu.150810/HTKTools.64bit/HERest
./htk.stimu.150810/HTKTools.64bit/HList
./htk.stimu.150810/HTKTools.64bit/HNTrainSGD.bin.localsoftlhuc
./htk.stimu.150810/HTKTools.64bit/HParse
./htk.stimu.150810/HTKTools.64bit/HCompV
./htk.stimu.150810/HTKTools.64bit/HDMan
./htk.stimu.150810/HTKTools.64bit/HVite
./htk.stimu.150810/HTKTools.64bit/HLConf
./htk.stimu.150810/HTKTools.64bit/HSmooth
./htk.stimu.150810/HTKTools.64bit/HNTrainSGD.bak
./htk.stimu.150810/HTKTools.64bit/HNTrainSGD.bin.onlystimupenlhuc
./htk.stimu.150810/HTKTools.64bit/HQuant
./htk.stimu.150810/HTKTools.64bit/HNTrainSGD.localsoftactilhuc_onlydlda
./htk.stimu.150810/HTKTools.64bit/HNTrainSGD.localsoftactilhuc_full_surf
./htk.stimu.150810/HTKTools.64bit/HNTrainSGD.localsoftactilhuc_full
./htk.stimu.150810/HTKTools.64bit/HNTrainSGD.localsoftactilhuc_full_surf_noRcalc
./htk.stimu.150810/HTKTools.64bit/HNTrainSGD.bin.phoneoption
./htk.stimu.150810/HTKLVRec.64bit/HDecode.mod
./htk.stimu.150810/HTKLVRec.64bit/HDecode
./htk.stimu.150810/HTKLVRec/HDecode.new
./htk.stimu.150810/HTKLVRec/HDecode
./htk.stimu.150810/HTKLVRec/HDecode.mod
./htk.stimu.150810/HTKLVRec.int/HDecode
./htk.stimu.150810/HTKLVRec.int/HDecode.mod
./htk.stimu/HLMTools/LNewMap
./htk.stimu/HLMTools/LPlex
./htk.stimu/HLMTools/LLink
./htk.stimu/HLMTools/LNorm
./htk.stimu/HLMTools/LFoF
./htk.stimu/HLMTools/HLMCopy
./htk.stimu/HLMTools/LGPrep
./htk.stimu/HLMTools/LSubset
./htk.stimu/HLMTools/Cluster
./htk.stimu/HLMTools/LBuild
./htk.stimu/HLMTools/LAdapt
./htk.stimu/HLMTools/LMerge
./htk.stimu/HLMTools/LGList
./htk.stimu/HLMTools/LGCopy
./htk.stimu/HTKLVRec.64bit/HDecode
./htk.stimu/HTKLVRec.64bit/HDecode.mod
./htk.stimu/HTKLVRec.int/HDecode
./htk.stimu/HTKLVRec.int/HDecode.mod
./htk.stimu/HTKLVRec/HDecode
./htk.stimu/HTKLVRec/HDecode.mod
./htk.stimu/HTKLVRec/HDecode.new
./htk.stimu/HTKTools.64bit/HResults
./htk.stimu/HTKTools.64bit/HLEd
./htk.stimu/HTKTools.64bit/HList
./htk.stimu/HTKTools.64bit/HLConf
./htk.stimu/HTKTools.64bit/HSmooth
./htk.stimu/HTKTools.64bit/HERest
./htk.stimu/HTKTools.64bit/HSGen
./htk.stimu/HTKTools.64bit/HInit
./htk.stimu/HTKTools.64bit/HRest
./htk.stimu/HTKTools.64bit/HNForward
./htk.stimu/HTKTools.64bit/HLStats
./htk.stimu/HTKTools.64bit/HCompV
./htk.stimu/HTKTools.64bit/HQuant
./htk.stimu/HTKTools.64bit/HCopy
./htk.stimu/HTKTools.64bit/HBuild
./htk.stimu/HTKTools.64bit/HNTrainSGD.trn
./htk.stimu/HTKTools.64bit/HHEd
./htk.stimu/HTKTools.64bit/HDMan
./htk.stimu/HTKTools.64bit/HLRescore
./htk.stimu/HTKTools.64bit/HNTrainSGD
./htk.stimu/HTKTools.64bit/HParse
./htk.stimu/HTKTools.64bit/HNTrainSGD.bak
./htk.stimu/HTKTools.64bit/HNTrainSGD.visual
./htk.stimu/HTKTools.64bit/HMMIRest
./htk.stimu/HTKTools.64bit/HVite
./htk.stimu/HTKTools.64bit/HNTrainSGD.bak.usedforbabelandis16
./htk.stimu/HTKTools.64bit/HNTrainSGD.babel.phoneopt
./htk.stimu/HTKTools/HBuild
./htk.stimu/HTKTools/HCompV
./htk.stimu/HTKTools/HCopy
./htk.stimu/HTKTools/HDMan
./htk.stimu/HTKTools/HERest
./htk.stimu/HTKTools/HERest.new
./htk.stimu/HTKTools/HERest.old
./htk.stimu/HTKTools/HHEd
./htk.stimu/HTKTools/HInit
./htk.stimu/HTKTools/HLEd
./htk.stimu/HTKTools/HLRescore
./htk.stimu/HTKTools/HLStats
./htk.stimu/HTKTools/HList
./htk.stimu/HTKTools/HMMIRest
./htk.stimu/HTKTools/HParse
./htk.stimu/HTKTools/HQuant
./htk.stimu/HTKTools/HRest
./htk.stimu/HTKTools/HResults
./htk.stimu/HTKTools/HSGen
./htk.stimu/HTKTools/HSmooth
./htk.stimu/HTKTools/HVite
./htk.150810/HTKLib.64bit/test
./htk.150810/HTKLib.64bit/a.out
./htk.150810/HTKTools/HBuild
./htk.150810/HTKTools/HDMan
./htk.150810/HTKTools/HVite
./htk.150810/HTKTools/HLRescore
./htk.150810/HTKTools/HERest.new
./htk.150810/HTKTools/HSGen
./htk.150810/HTKTools/HParse
./htk.150810/HTKTools/HLStats
./htk.150810/HTKTools/HInit
./htk.150810/HTKTools/HMMIRest
./htk.150810/HTKTools/HResults
./htk.150810/HTKTools/HHEd
./htk.150810/HTKTools/HList
./htk.150810/HTKTools/HCompV
./htk.150810/HTKTools/HCopy
./htk.150810/HTKTools/HLEd
./htk.150810/HTKTools/HERest
./htk.150810/HTKTools/HRest
./htk.150810/HTKTools/HSmooth
./htk.150810/HTKTools/HQuant
./htk.150810/HTKTools/HERest.old
./htk.150810/HLMTools/LNewMap
./htk.150810/HLMTools/LGList
./htk.150810/HLMTools/Cluster
./htk.150810/HLMTools/LGPrep
./htk.150810/HLMTools/LBuild
./htk.150810/HLMTools/LGCopy
./htk.150810/HLMTools/LPlex
./htk.150810/HLMTools/LSubset
./htk.150810/HLMTools/LNorm
./htk.150810/HLMTools/LAdapt
./htk.150810/HLMTools/LLink
./htk.150810/HLMTools/LFoF
./htk.150810/HLMTools/HLMCopy
./htk.150810/HLMTools/LMerge
./htk.150810/HTKTools.64bit/HVite
./htk.150810/HTKTools.64bit/HQuant
./htk.150810/HTKTools.64bit/HList
./htk.150810/HTKTools.64bit/HCompV
./htk.150810/HTKTools.64bit/HSGen
./htk.150810/HTKTools.64bit/HRest
./htk.150810/HTKTools.64bit/HLRescore
./htk.150810/HTKTools.64bit/HHEd
./htk.150810/HTKTools.64bit/HNTrainSGD
./htk.150810/HTKTools.64bit/HDMan
./htk.150810/HTKTools.64bit/HResults
./htk.150810/HTKTools.64bit/HParse
./htk.150810/HTKTools.64bit/HLConf
./htk.150810/HTKTools.64bit/HBuild
./htk.150810/HTKTools.64bit/HERest
./htk.150810/HTKTools.64bit/HNForward
./htk.150810/HTKTools.64bit/HLEd
./htk.150810/HTKTools.64bit/HCopy
./htk.150810/HTKTools.64bit/HSmooth
./htk.150810/HTKTools.64bit/HLStats
./htk.150810/HTKTools.64bit/HMMIRest
./htk.150810/HTKTools.64bit/HInit
./htk.150810/HTKLVRec.64bit/HDecode.mod
./htk.150810/HTKLVRec.64bit/HDecode
./htk.150810/HTKLVRec/HDecode.new
./htk.150810/HTKLVRec/HDecode
./htk.150810/HTKLVRec/HDecode.mod
./htk.150810/HTKLVRec.int/HDecode
./htk.150810/HTKLVRec.int/HDecode.mod
